/****************************************/
/*****            FONTS             *****/
/****************************************/

@font-face {
    font-family: 'Roboto';
         url('../fonts/roboto.woff') format('woff'),     /* Modern Browsers */
         url('../fonts/roboto.ttf') format('truetype'),  /* Safari, Android, iOS */
         url('../fonts/roboto.svg') format('svg');       /* Legacy iOS */
}

@font-face {
    font-family: 'Stonehenge';
         url('../fonts/stonehenge.woff') format('woff'),
         url('../fonts/stonehenge.ttf') format('truetype'),
         url('../fonts/stonehenge.svg') format('svg');
}


/****************************************/
/*****  BOOTSTRAP PERSONALIZATION   *****/
/****************************************/

.btn {
    border-radius: 2px;
}

.btn-primary {
    color: #FFF;
    background-color: #448BB7;
    border-color: #0C334B;
}

.btn-primary:hover {
    color: #FFF;
    background-color: #0C334B;
}

.well {
    border: 1px solid #d8ecff;
    border-radius: 5px;
    background-color: #f9fbff;
}

label {
    font-weight: normal;
}

@media (min-width: 768px) {
    .container {
        width:95%;
    }
}
@media (min-width: 992px) {
    .container {
        width:90%;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 85%;
    }
}


/****************************************/
/*****         STICKY FOOTER        *****/
/****************************************/

html,
body {
  height: 100%;
  position: relative;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto 0;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

#wrap:before {
    content:"";
    display:block;
    height:50px;
    margin:-50px 0 0;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}


/****************************************/
/*****          NAV BAR             *****/
/****************************************/

.navbar-inverse {
    background-color: #0C334B;
    border-color: #080808;
    font-size: 0.8em;
}

.navbar-brand > .logo {
    height: 25px;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover {
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:focus,
.navbar-inverse .navbar-nav > .open > a:hover {
    color: #ffffff;
    background-color: #00273e;
}

.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
    color: #ffffff;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a {
    color: #c9ddf0;
    background-color: transparent;
}

.dropdown-menu > li > a:hover {
    background-color: #c9ddf0;
}


/****************************************/
/*****          MAIN STYLE          *****/
/****************************************/

html,
body {
    font-family: 'Roboto', "Arial Black", Verdana, Arial, Trebuchet, sans-serif;
    font-size: 1.2em;
    color: #001040;
}

div.page-header {
    background-color: #448BB7;
    font-family: 'Stonehenge', 'Roboto', Verdana, Arial, Trebuchet, sans-serif;
    color: #ffffff;
    padding-top: 40px;
    padding-bottom: 40px;
}

#page-title {
    font-size: 2.5em;
}

#page-intro {
    font-size: 1.5em;
}

.comment {
   font-style: italic;
  font-size: 0.8em; 
}

a {
    text-decoration: none;
    color: #aaa;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #448bb7;
    font-weight: normal;
    outline: 0;
}

#wrap > .container {
    padding: 60px 15px 0;
}

.container .credit {
    margin: 20px 0;
}

#footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}

#div_id_start_date > .controls,
#div_id_end_date > .controls {
    position: relative;
}


/****************************************/
/*****       AFFIX SIDE MENU        *****/
/****************************************/

.document-sidebar .nav > li > a {
    padding: 4px 20px;
    font-size: 1.1em;
    border-left: 2px solid transparent;
}

.document-sidebar .nav .nav > li > a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    font-size: 0.9em;
    border-left: 1px solid transparent;
}

.affix {
    top: 60px;
}

#side-menu > ul {
    list-style-type: none;
    font-size: 0.8em;
}

#side-menu > ul > li > ul{
    list-style-type: none;
}

.document-sidebar .nav > .active > a {
    color: #448bb7;
    border-left: 2px solid #448bb7;
    background-color: #f9fbff;

}

.document-sidebar .nav .nav > .active > a {
    border-left: 1px solid #448bb7;
}

.document-sidebar .nav  a:hover,
.document-sidebar .nav  a:focus {
    color: #448bb7;
    background-color: #f9fbff;
}

.document-sidebar .nav ul.nav {
    display: none;           
}

.document-sidebar .nav>.active>ul.nav {
    display: block;           
}


/****************************************/
/*****         MODAL IMAGE          *****/
/****************************************/

.modal img{
    max-width: 100%;
    max-height: 600px;
    border: 1px solid black;
    padding: 5px;
}

.modal .modal-img{
    text-align: center;
    margin-bottom: 20px;
}
