@font-face {
    font-family: "Flaticon";
    src: url("europa.eot");
    src: url("europa.eot#iefix") format("embedded-opentype"),
    url("europa.woff") format("woff"),
    url("europa.ttf") format("truetype"),
    url("europa.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
}

.flaticon-crown:before {
    content: "\e000";
}

.flaticon-olive:before {
    content: "\e001";
}
